export("plotuScree", 
       "nScree",
       "plotnScree", 
       "parallel",
       "plotParallel",
       "componentAxis",
       "diagReplace",
       "iterativePrincipalAxis",
       "principalAxis",
       "principalComponents",
       "rRecovery" 
       )








